/* Cores : 
Fundo das cartas : #982c2c
Banda rosa clara : #efe3e3
*/

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #c14040;
}

body, input, button {
    font-family: 'Bree Serif', serif;
}

.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.homepage {
    height: 100vh;
    width: 100vw;
    max-width: 90vw;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.homepage input {
    margin-top: 10px;
}